<div class="container">
    <div class="p-3 mb-2 bg-dark-subtle text-dark-emphasis d-flex flex-row justify-content-evenly shadow rounded">
  
      <div class="card text-bg-success m-1" style="max-width: 18rem;">
        <h5 class="card-header">Valor vendido</h5>
        <div class="card-body">
          <h5 class="card-title text-center">R$ 250,00</h5>
        </div>
      </div>
  
      <div class="card text-bg-info m-1" style="max-width: 18rem;">
        <h5 class="card-header">Vendas finalizadas</h5>
        <div class="card-body">
          <h5 class="card-title text-center">16</h5>
        </div>
      </div>
  
      <div class="card text-bg-warning m-1" style="max-width: 18rem;">
        <h5 class="card-header">Vendas pendentes</h5>
        <div class="card-body">
          <h5 class="card-title text-center">01</h5>
        </div>
      </div>
      
    </div>
  </div>
  
  <div class="container">
    <div class="p-3 mb-2 bg-dark-subtle text-dark-emphasisb shadow rounded">
      <app-table
          [displayedColumns]="displayedColumnsSale"
          [fields]="fieldsSale"
          [dataSource]="dataSourceSale()"
          (selectItem)="selectSale($event)"
          data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        </app-table>
    </div>
  </div>


  <div class="modal fade modal-lg" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Pedido - {{sale.client}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div inputs>
            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default">Valor de compra</span>
              <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" [(ngModel)]="sale.totalValue" name="name" required>
            </div>
          </div>

              <app-table
                  [displayedColumns]="displayedColumnsSaleDetail"
                  [fields]="fieldsSaleDetail"
                  [dataSource]="dataSourceSaleDetail()"
                  (selectItem)="selectProduct($event)"
                  data-bs-toggle="modal" data-bs-target="#detailSale">
                </app-table>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary m-2" data-bs-dismiss="modal" (click)="closeModal()">Fechar</button>
          <button type="button" class="btn btn-success m-2" (click)="test()" data-bs-dismiss="modal">Salvar</button>
          <button type="button" class="btn btn-danger m-2" data-bs-dismiss="modal" (click)="test()">Excluir</button>
        </div>
      </div>
    </div>
  </div>