<div class="container">
    <div class="p-3 mb-2 bg-dark-subtle text-dark-emphasisb shadow rounded">
  
      <div class="container">
        <div class="row">
          <div class="col-10">
            <h2>Lista de Produtos</h2>
          </div>
          <div class="col">
            @if(list()){
              <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#createProduct">Creat</button>
            }
            @else{
              <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#createCategory">Creat</button>
            }
          </div>
        </div>
      </div>
      
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <button class="nav-link " [ngClass]="{'active': list()}" aria-current="page" (click)="selected(true)">Produtos</button>
        </li>
        <li class="nav-item">
          <button class="nav-link " [ngClass]="{'active': !list()}" (click)="selected(false)">Categorias</button>
        </li>
      </ul>
      @if(list()){
        <app-table
          [displayedColumns]="displayedColumnsProduct"
          [fields]="fieldsProduct"
          [dataSource]="dataSourceProduct()"
          (selectItem)="selectProduct($event)"
          data-bs-toggle="modal" data-bs-target="#updateProduct">
        </app-table>
      }
      @else{
        <app-table
          [displayedColumns]="displayedColumnsCategory"
          [fields]="fieldsCategory"
          [dataSource]="dataSourceCategory()"
          (selectItem)="selectCategory($event)"
          data-bs-toggle="modal" data-bs-target="#updateCategory">
        </app-table>
      }    
    </div>
  </div>


  <app-modal idModel="updateProduct" title="Editar produto: {{product.name}}">
    <div inputs>
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Nome do Produto</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" [(ngModel)]="product.name" name="name" required>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">R$</span>
        <span class="input-group-text">0.00</span>
        <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)"  [(ngModel)]="product.price" name="price" required>
      </div>
      <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01">Categoria</label>
        <select class="form-select" id="inputGroupSelect01" [(ngModel)]="product.category" name="category" required>
          @for (category of dataSourceCategory(); track $index) {
            <option selected value="{{category.name}}">{{category.name}}</option>
          }
        </select>
      </div>
      <div class="mb-3">
        <input class="form-control" type="file" id="formFile"name="image" (change)="onSelectFile($event)">
      </div>
    </div>
    <div buttons>
      <button type="button" class="btn btn-secondary m-2" data-bs-dismiss="modal" (click)="closeModal()">Fechar</button>
          <button type="button" class="btn btn-success m-2" (click)="updateProduct(product)" data-bs-dismiss="modal">Salvar</button>
          <button type="button" class="btn btn-danger m-2" data-bs-dismiss="modal" (click)="deleteProduct(product.id)">Excluir</button>
    </div>
  </app-modal>

  <app-modal idModel="createProduct" title="Cadastro de Produto">
    <div inputs>
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Nome do Produto</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" [(ngModel)]="productCreate.name" name="name" required>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">R$</span>
        <span class="input-group-text">0.00</span>
        <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)"  [(ngModel)]="productCreate.price" name="price" required>
      </div>
      <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01">Categoria</label>
        <select class="form-select" id="inputGroupSelect01" [(ngModel)]="productCreate.category" name="category" required>
          @for (category of dataSourceCategory(); track $index) {
            <option selected value="{{category.name}}">{{category.name}}</option>
          }
        </select>
      </div>
      <div class="mb-3">
        <input class="form-control" type="file" id="formFile"name="image" (change)="onSelectFile($event)">
      </div>
    </div>
    <div buttons>
      <button type="button" class="btn btn-secondary m-2" data-bs-dismiss="modal" (click)="closeModal()">Fechar</button>
      <button type="button" class="btn btn-success m-2" (click)="createProduct(productCreate)" data-bs-dismiss="modal">Criar</button>
    </div>
  </app-modal>

  <app-modal idModel="createCategory" title="Cadastro de Categoria">
    <div inputs>
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Nome da Categoria</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" [(ngModel)]="category.name" name="name" required>
      </div>
    </div>
    <div buttons>
      <button type="button" class="btn btn-secondary m-2" data-bs-dismiss="modal" (click)="closeModal()">Fechar</button>
      <button type="button" class="btn btn-success m-2" (click)="createCategory(category)" data-bs-dismiss="modal">Criar</button>
    </div>
  </app-modal>
  
  <app-modal idModel="updateCategory" title="Editar a Categoria: {{category.name}}">
    <div inputs>
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Nome da Categoria</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" [(ngModel)]="category.name" name="name" required>
      </div>
    </div>
    <div buttons>
      <button type="button" class="btn btn-secondary m-2" data-bs-dismiss="modal" (click)="closeModal()">Fechar</button>
      <button type="button" class="btn btn-success m-2" (click)="updateCategory(category)" data-bs-dismiss="modal">Salvar</button>
      <button type="button" class="btn btn-danger m-2" data-bs-dismiss="modal" (click)="deleteCategory(category.id)">Excluir</button>
    </div>
  </app-modal>